//? color
$secondaryColor: #171b20;
$cardNavBgColor: #cd890ccb;
$NavyColor : #000080;
$LightCoral : #F08080;
$OrangeRed : #FF4500;
$Gold : #FFD700;
$DarkCyan: #008B8B;
$Maroon :#800000;
$RosyBrown : #BC8F8F;
$OliveDrab: #6B8E23;
$ForestGreen : #228B22;

// ?BacgroundColor
$backgroundImage: linear-gradient(225deg, #d2bfbf 0%, #a354ce 90%, #2b86c5 100% );
